html, textarea {
	font-family: serif;
}

body {
	padding: 0px;
	margin: 0px;
}

h1, h4 {
	text-align: center;

	padding: 0;
	margin: 0;
}

h1 {
	margin-top: 10px;
}

h2 {
	padding-bottom: 0;
	margin-bottom: 10px;
}

h1 a {
	color: black;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

#controls button {
	margin-bottom: 10px;
}

#content, #post-content {
	margin-left: 10px;
}

img {
	border: 1px solid black;
}

#post-content img {
	width: 200px;
	height: 200px;

	margin-right: 8px;

	float: left;
}

#post-content p, .feed-item p, .archive-item p {
	margin: 0;
}

#post-content img {
	cursor: pointer;
}

#post-text {
	max-width: 900px;
	overflow: hidden;

	word-wrap: break-word;
}

#extra-info {
	position: absolute;
	bottom: 0;

	margin-bottom: 443px;
}

#extra-info p {
	font-size: 10px;
}

#unix-time {
	padding-top: 4px;
}

#feed, #archive section {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;

	margin-right: 7px;
}

.feed-item, .archive-item {
	margin-bottom: 10px;
}

.feed-item img, .archive-item img {
	width: 70px;
	height: 70px;

	float: left;
	margin-right: 4px;
}

.feed-item p, .archive-item p {
	font-size: 14px;
}

.post-link {
	text-decoration: underline;
	cursor: pointer;

	padding-top: 6.5px;
}

.post-link:hover {
	text-decoration: none;
}

.short {
	padding-top: 4px;
}

textarea {
	font-size: 14.5px;

	width: 255px;
	height: 89px;
}

#modal {
	padding: 0;
	margin: 0;
}

dialog {
	border: none;

	padding: 0;
}

dialog, #modal {
	position: relative;

	top: 0;
	right: 0;

	width: 700px;
	height: 700px;

	overflow: visible;
}

dialog:focus-visible {
	outline: none;
}

#close {
	position: absolute;

	top: 5px;
	right: 5px;

	width: 25px;
	height: 25px;

	padding: 0;
	margin: 0;

	border: none;

	cursor: pointer;
}

#version {
	position: absolute;
	bottom: 0;

	font-size: 12px;
}