@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.montserrat-light {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings:
  		"wdth" 100;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  	"wdth" 100;
}

.montserrat-header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
  	"wdth" 100;
}

.montserrat-subheader {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
  	"wdth" 100;
}

.montserrat-subsubheader {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
  	"wdth" 100;
}

body {
	padding: 0;
	margin: 0;
}

p, h4, label {
	font-size: 14px;
}

h1, h4 {
	text-align: center;

	padding: 0;
	margin: 0;
}

#post-text h1, #post-text h4 {
	text-align: left;
}

h1 {
	margin-top: 0.3em; /* 10px */
}

h2 {
	padding-bottom: 0;
	margin-bottom: 0.42em; /* 10px */
}

a:hover {
	text-decoration: none;
}

h1 a {
	color: black;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

h3 {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 5px;

	font-size: 16px;
}

button {
	cursor: pointer;
	
	border: 0.7px solid;
	background: transparent;
}

#controls button {
	margin-bottom: 0.75em; /* 10px */
}

#content, #post-content {
	margin-left: 0.625em; /* 10px */
}

#post-id:hover {
	cursor: pointer;
}

img {
	border: 1px solid;
}

#post-content img {
	width: 12.5em; /* 200px */
	height: 12.5em; /* 200px */

	margin-right: 0.5em; /* 8px */

	float: left;
}

#post-content p, .feed-item p, .archive-item p {
	margin: 0;
}

#post-content img {
	cursor: pointer;
}

#post-text {
	max-width: 900px; /* May change this to em in the future. Right now, not so sure how to test */
	overflow: hidden;

	word-wrap: break-word;
	white-space: pre;

	font-size: 13px;
}

#extra-info p, #extra-info-opera p {
	font-size: 8.6px;
}

#unix-time {
	padding-top: 0.25em; /* 4px */
}

#feed, #archive section, #pinned {
	display: flex;
	flex-direction: row;
}

#pinned-container {
	margin-bottom: 15px;
	margin-right: 0.625em;

	border-bottom: 1px solid;
	border-top: 1px solid;
}

#pinned .feed-item {
	margin-right: 7px;
}

#archive section {
	margin-bottom: 1.563em; /* 25px */
}

#feed p {
	word-wrap: break-word;
}

.column {
	display: flex;
	flex-direction: column;

	margin-right: 0.438em; /* 7px */
}

.feed-item, .archive-item {
	width: 276.055px;
	margin-bottom: 0.625em; /* 10px */

	cursor: pointer;
}

.feed-item img, .archive-item img {
	width: 4.375em; /* 70px */
	height: 4.375em; /* 70px */

	float: left;
	margin-right: 0.25em; /* 4px */
}

.feed-item p, .archive-item p {
	font-size: 11.5px;
}

.post-link {
	text-decoration: underline;
	cursor: pointer;

	padding-top: 0.5em; /* 6.5px */
}

.post-link:hover {
	text-decoration: none;
}

.short {
	padding-top: 0.27em; /* 4px */
}

.line-length {
	padding-top: 1.6em; /* 22.5px */
}

textarea {
	font-size: 12px;

	width: 21.5em; /* 255px */
	height: 7.1em; /* 89px */

	padding: 0.34em; /* 5px */
}

#modal {
	padding: 0;
	margin: 0;
}

dialog {
	border: none;

	padding: 0;
}

dialog, #modal {
	position: relative;

	top: 0;
	right: 0;

	width: 43.75em; /* 700px */
	height: 43.75em; /* 700px */

	overflow: visible;
}

dialog:focus-visible {
	outline: none;
}

#close {
	position: absolute;

	top: 0.313em; /* 5px */
	right: 0.313em; /* 5px */

	width: 1.563em; /* 25px */
	height: 1.563em; /* 25px */

	padding: 0;
	margin: 0;

	border: none;

	cursor: pointer;
}

#version {
	position: absolute;
	bottom: 0;
}

#version, #version-archive, #version-feed {
	font-size: 12px;
}

#subheaderInput {
	width: 12.33em; /* 165px */
}

#pinAdd, #pinRemove, #imgurClient {
	width: 16.88em; /* 225px */
}

#serverIP {
	margin-top: 0;
	padding-top: 0;
}

#noFeed, #noArchive {
	text-align: center;
}

#textarea-container {
	width: 267.055px;
}

#character-amnt {
	font-size: 10.7px;

	padding: 0;
	margin: 0;

	float: right;
}

#theme-btn {
	position: absolute;
	right: 0;

	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;

	padding: 0;
	margin: 0;

	margin-right: 10px;
}

#theme-btn:hover {
	text-decoration: none;
}

button, img {
	border-radius: 2px;
}