#light-theme {
	background-color: white;
	color: black;
}

#light-theme h1 a {
	color: black;
}

#light-theme #pinned-container {
	border-color: black;
}

#light-theme dialog {
	background-color: white;
}

#light-theme .feed-item:hover, #light-theme .archive-item:hover {
	background-color: #ececec;
}

#dark-theme {
	background-color: black;
	color: white;
}

#dark-theme h1 a {
	color: white;
}

#dark-theme #pinned-container {
	border-color: white;
}

#dark-theme dialog {
	background-color: black;
}

#dark-theme .feed-item:hover, #dark-theme .archive-item:hover {
	background-color: #131313;
}